/* FORMULÁRIO DE LOGIN */
@use cssnext;

:root
{
	--mainYellow: rgb(240,190,17);
	--darkYellow: rgb(200,150,5);
	--mainGray: rgb(45,45,45);
	--lighterGray: rgb(150,150,150);
	--lightBorder: rgb(224,224,224);
	--defaultBorderRadius: 20px;
	--sectionsBorder: 10px;
}

#auth
{
	text-align: center;
	margin-top: 25px;
}

#content-login
{
	width: 100%;
	height: 80px;
	margin-left: 5%;
}

#auth input
{
	outline: none;
	border: none;
	height: 30px;
	border-radius: 20px;
}

#auth input:not(:last-of-type)
{
	margin-right: 7px;
}

#auth input:not([type="submit"])
{
	padding-left: 15px;
	max-width: 230px;
}

#auth input[type="submit"]
{
	font-weight: bold;
	min-width: 70px;
}

/* SLIDER */
#slider 
{
	background-image: url("../../img/slider-main/bg1.jpg");
	min-height: 635px;
	text-align: left;
	position: relative;
	color: var(--lightBorder);
	margin-left: 0;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
}

#slider-text
{
	margin-left: 9%;
}

#text-displayer
{
	margin: 0 auto;
	font-weight: bold;
}

#title 
{
	margin-left: 2%;
	font-size: 36px;
	opacity: 0;
}

#div-texts 
{
	width: 0px;
	height: 4px;
	margin-top: 20px;
	margin-left: 40px;
	position: relative;
	background: var(--mainYellow);
}

#text 
{
	margin-top: 60px;
	text-align: justify;
	font-size: 1.3em;
	text-indent: 1.5em;
	opacity: 0;
}

/* PAINEL DE INTERAÇÃO */
#mid
{
	background: var(--mainYellow);
}

/* DIFERENCIAIS DO PROJETO */
#difer
{
	background: var(--mainYellow);
}

#difer-content
{
	margin: 20px;
}

#difer h2
{
	border-right: inset rgba(66,66,66,0.3) 1px;
	font-size: 34px;
	font-weight: normal;
}

#difer p
{
	padding-top: 10px;
}