/* DADOS DO USUÃRIO LOGADO */
@use cssnext;

:root
{
	--mainYellow: rgb(240,190,17);
	--darkYellow: rgb(200,150,5);
	--mainGray: rgb(45,45,45);
	--lighterGray: rgb(150,150,150);
	--lightBorder: rgb(224,224,224);
	--defaultBorderRadius: 20px;
	--sectionsBorder: 10px;
}

#auth
{
	text-align: center;
	margin-top: 10px;
}

#auth img, #auth a
{
	display: inline-block;
}

#auth img
{	
	
	height: 50px;
	width: 50px;
	border-radius: 100%;
}
#upload-container
{
	margin-left: 45%;
}
#upload-container input[type="file"],p
{	
	margin: 0 !important;
	color: white;
}
#upload-container img
{	
	margin-bottom: 20px;
	margin-top: 20px;
	height: 150px;
	width: 150px;
	border-radius: 100%;
}

#auth a
{
	color: white;
}

#name
{
	font-size: 18px;
	margin-left: 20px;
	font-family: "featured" !important;
}

#options
{
	display: inline-block;
	margin-left: 30px;
	font-family: "featured" !important;
}

#options button
{
	background-color: transparent;
	border: none;
	outline: none; 
	background-image: url("../../img/config.png");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: left;
	padding-left: 35px;
}

#options button span
{
	margin: 0 -10px;
}

#options .divider
{
	background: var(--lighterGray);
}

#options ul li a
{
	color: black;
}

#options ul li a span
{
	margin-left: 10px;
}

#voltar
{
	display: block;
	color: transparent;
	position: absolute;
	float: left;
	top: 25px;
	height: 25px;
	transform: rotate(180deg);
	background: url(../../img/back.png) no-repeat;
	background-size: contain;
	background-position: center;
	z-index: 500;
}

/* PORTAL */
#content-portal
{
	margin: 80px 0 50px 0;
}

#sections-portal
{
	margin-top: 180px; 
}

#sections-portal div
{
	margin-top: var(--sectionsBorder);
	padding-top: 10px;
	font-size: 32px;
	cursor: pointer;
	text-decoration: none;
}

#sections-portal div a
{
	color: var(--mainGray);
	margin-left: 20px;
	font-family: "featured" !important;
}

#sections-portal div:hover
{
	background-color: var(--darkYellow);
}

#sec-gasto
{
	border-right: calc(var(--sectionsBorder)/2) solid var(--mainGray);
	height: 300px;
}

#sec-setor
{
	border-left: calc(var(--sectionsBorder)/2) solid var(--mainGray);
	height: 145px;
}

#sec-usuario
{
	border-left: calc(var(--sectionsBorder)/2) solid var(--mainGray);
	height: 145px;
}

#sec-advertencia
{
	border-right: calc(var(--sectionsBorder)/2) solid var(--mainGray);
	height: 145px;
}

#sec-computador
{
	border-left: calc(var(--sectionsBorder)/2) solid var(--mainGray);
	height: 145px;
}

/* TABELAS */
#DataTables_Table_0_wrapper
{
	margin-top: 30px;
}
#DataTables_Table_0_wrapper label
{
	color: white;
	margin-right: 10px;
	font-family: "featured" !important;
}

#DataTables_Table_0_wrapper select, #DataTables_Table_0_wrapper input
{
	border-radius: var(--defaultBorderRadius); 
}

#DataTables_Table_0_info
{
	color: white;
	font-size: 16px;
}

#DataTables_Table_0_wrapper ul.pagination li:first-of-type a
{
	border-top-left-radius: var(--defaultBorderRadius);
	border-bottom-left-radius: var(--defaultBorderRadius);
}

#DataTables_Table_0_wrapper ul.pagination li:last-of-type a
{
	border-top-right-radius: var(--defaultBorderRadius);
	border-bottom-right-radius: var(--defaultBorderRadius);
}

#DataTables_Table_0_paginate ul li.paginate_button.active a
{
	background: var(--mainYellow) !important;
	border-color: var(--mainYellow);
	color: var(--mainGray);
}

#content-portal table
{
	width: 100%;
	margin-top: 30px;
	color: var(--mainGray);
}

#content-portal table thead
{
	background: var(--mainYellow);
	font-size: 18px;
}

#content-portal table thead th::after
{
	padding-top: 10px;
}

#content-portal table thead th:last-of-type::after
{
	margin-right: 7px;
}

#content-portal th, #content-portal td
{
	padding-left: 10px;
}

#content-portal th:not(:last-of-type), #content-portal td:not(:last-of-type)
{
	border-right: 1px solid var(--lightBorder);
}

#content-portal th
{
	padding-top: 4px;
	padding-bottom: 4px;
}

#content-portal td
{
	padding-top: 15px;
	padding-bottom: 15px;
}

#content-portal table thead tr:first-of-type th:first-of-type
{
	border-top-left-radius: var(--defaultBorderRadius);
}

#content-portal table thead tr:last-of-type th:last-of-type
{
	border-top-right-radius: var(--defaultBorderRadius);
}

#content-portal table tbody
{
	font-size: 16px;
}

#content-portal table tbody tr:not(:last-of-type) td
{
	border-bottom: 1px solid var(--lightBorder);
}

#content-portal table tbody tr:nth-of-type(odd)
{
	background: rgb(170,170,170);
}

#content-portal table tbody tr:nth-of-type(even)
{
	background: var(--lighterGray);
}

#content-portal table tbody tr:last-of-type td:first-of-type
{
	border-bottom-left-radius: var(--defaultBorderRadius);
}

#content-portal table tbody tr:last-of-type td:last-of-type
{
	border-bottom-right-radius: var(--defaultBorderRadius);
}

/* MODAL */
#content-portal button[data-toggle="modal"]
{
	margin-top: 30px;
	border-radius: var(--defaultBorderRadius);
	color: var(--mainGray);
	padding: 5px 15px;
	font-weight: bold;
}

#content-portal div.modal-content
{
	background: var(--lighterGray) !important;
	border: 1px solid var(--lightBorder);
}

#content-portal div.modal-content div.body
{
	/*background: var(--lightBorder);*/
}

/* PANELS */
#content-portal div.panel-heading a
{
	font-size: 20px;
}

#content-portal div.panel-group
{
	margin-top: 30px;
}

#content-portal div.panel-group div.panel-heading
{
	background: var(--lighterGray);
}

#content-portal div.panel-group div.panel
{
	border-color: white;
}

#content-portal div.panel-group ul.list-group li, #content-portal div.panel-group div.panel-footer
{
	background: var(--lighterGray);
}
#conta-container{
	background-color: var(--lighterGray);
	border-radius: 1%;
	border: solid 1px black;
}
#conta-label{
	text-align: center;
	padding-top: 10px;
}

#usuarios div.panel-collapse img
{
	height: 150px;
	width: 150px;
	margin: 10px;
	border-radius: 100%;
}

#usuarios div.panel-collapse > *
{
	display: inline-block;
	font-size: 18px;
}
.ui-progressbar {
	position: relative;
	
}
.progress-label {
	position: absolute;
	left: 50%;
	top: 4px;
	font-weight: bold;

}