<!DOCTYPE html>
<html lang="zxx" ng-app="watterizerApp">
<head>
	<meta charset="UTF-8">
	<!-- NECESSARIO PARA AJUSTE EM MOBILE -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Usuários - Watterizer</title>
	<link rel="stylesheet" type="text/css" href="../css/library/jquery-ui.min.css"><!-- CSS DO JQUERY UI -->
	<link rel="stylesheet" type="text/css" href="../css/library/bootstrap.min.css"> <!-- CSS BOOTSTRAP -->
	<link rel="stylesheet" type="text/css" href="../css/post-processed/post-base.css"> <!-- CSS BASE -->
	<link rel="stylesheet" type="text/css" href="../css/post-processed/post-portal.css"> <!-- CSS DO PORTAL --> 
	<script src="../js/angular/angular.js"></script> <!-- JS DO ANGULAR -->
	<script src="../js/angular/watterizerApp.js"></script> <!-- JS DO APP ANGULAR -->
	<script src="../js/angular/controllers/usuarioCtrl.js"></script> <!-- JS DA CONTROLLER -->
</head>
<body ng-controller="usuarioCtrl">
	<div class="container-fluid">
		<!-- CABEÇALHO -->
		<header class="col-xs-12">
			<div class="wrapper col-xs-12">
				<a id="voltar" href="/portal">Voltar</a>
				<!-- LOGO -->
				<div class="logo hidden-xs hidden-sm col-md-5 col-lg-6">
					<a class="col-xs-12" href="">Watterizer</a>
				</div>
				<!-- FORMULARIO DE LOGIN  -->
				<div id="auth" class="container col-xs-12 col-md-7 col-lg-6">
					<img src="../img/avatar-placeholder.gif">
					<a id="name" href="#">Carregando...</a>
					<div id="options" class="dropdown">
						<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#">Configurações de Conta<span class="glyphicon glyphicon-wrench"></span></a></li>
							<li class="divider"></li>
							<li><a href="#">Logout<span class="glyphicon glyphicon-log-out"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<!-- CONTEUDO DO SITE -->
		<div id="content-portal" class="container-fluid">
			<div id="usuarios" >
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					Novo Usuário
				</button>
				<table class="table-striped">
					<thead>
						<tr>
							<th>Nome</th>					
							<th>Username</th>
							<th>Email</th>
							<th>Perfil</th>
							<th>Telefone</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
				</table>
			</div>
		</div>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Novo Usuário</h4>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group col-sm-6">
								<label for="txt-nome">Nome:</label>
								<input type="text" minlength="3" maxlength="50" class="form-control" id="txt-nome" ng-model="usuario.nome">
							</div>
							<div class="form-group col-sm-6">
								<label for="txt-username">Nome de Usuário</label>
								<input type="text" minlength="7" maxlength="54" class="form-control" id="txt-username" ng-model="usuario.username" readonly>
							</div>
							<div class="form-group col-sm-6">
								<label for="txt-email">Email</label>
								<input type="email" minlength="12" maxlength="35" class="form-control" id="txt-email" ng-model="usuario.email">
							</div>
							<div class="form-group col-sm-6">
								<label for="txt-telefone">Telefone</label>
								<input type="text" minlength="8" maxlength="11" class="form-control" id="txt-telefone" ng-model="usuario.telefone">
							</div>
							<div class="form-group col-sm-4">
								<label for="txt-hr-entrada">Hora de Entrada</label>
								<input type="time" class="form-control" id="txt-hr-entrada" ng-model="usuario.hora_entrada">
							</div>
							<div class="form-group col-sm-4">
								<label for="txt-hr-intervalo">Hora de Intervalo</label>
								<input type="time" class="form-control" id="txt-hr-intervalo" ng-model="usuario.hora_intervalo">
							</div>
							<div class="form-group col-sm-4">
								<label for="txt-hr-saida">Hora de Saída</label>
								<input type="time" class="form-control" id="txt-hr-saida" ng-model="usuario.hora_saida">
							</div>
							<div class="form-group col-xs-12">
								<label for="txt-id_setor">Setor</label>
								<select ng-options="setor.id as setor.setor for setor in setores" ng-model="usuario.id_setor" class="form-control" id="txt-id_setor">
									<option value="">{{setor.id}}</option>
								</select>
							</div>
							<div class="col-sm-5 centered">
								<input type="submit" value="Cadastrar" class="form-control btn-primary" ng-click="create()">
							</div>
						</form>
					</div>
					<div class="modal-footer">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<!-- IMPORTAÇÕES JAVASCRIPT -->
<script src="../js/jquery/jquery.js"></script> <!-- JS JQUERY -->
<script src="../js/jquery/jquery-ui.min.js"></script> <!-- JS DO JQUERY UI -->
<script src="../js/bootstrap/bootstrap.min.js"></script> <!-- JS BOOTSTRAP -->
<script src="../js/bootstrap/sync-bs.js"></script> <!-- JS DE SINCORINIZAÇÃO COM O BOOTSTRAP -->
<script src="../js/custom/portal.js"></script> <!-- JS DO PORTAL -->
<script type="text/javascript">
	$(function() {
		$( "#txt-nome" ).autocomplete({
			source: function( request, response ) {
				
				$.ajax({
					type: 'POST',
					url: "/gerausuario",
					data: {
						nome: request.term
					},
					success: function( data ) {
						$("#txt-username").val(data);

					}
				});
			},
			minLength: 3
		});
	});
</script>
</html>